<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="org.pysh.janus.debug.TestConfigReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.pysh.janus.action.SET_CONFIG" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
